*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: all 0.5s;
  height: 100vh;
  width: 100%;
  background-image: url(/image/BlueLock.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body img {
  height: 100%;
  width: 100%;
}

.main {
  color: white;
  width: 45%;
  padding: 1rem;
  transition: all 0.5s;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.main h1 {
  margin-bottom: 1.4rem;
  font-size: 40px;
  font-weight: 900;
}
.main p {
  font-size: 18px;
}
.main .main-btn {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
}
.main .main-btn .btnAcessar {
  background-color: #fc2121;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 7rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  gap: 5px;
  transition: all 0.5s;
}
.main .main-btn .btnAcessar img {
  height: 15px;
  width: 15px;
}
.main .main-btn .btnAcessar:hover {
  background-color: #ad1d1d;
}
.main .main-btn .btnAddList {
  height: 3rem;
  width: 9rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
  transition: all 0.9s;
}
.main .main-btn .btnAddList:hover {
  background-color: #fc2121;
  color: white;
}

.playTrailer {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 9%;
  transition: all 0.5s;
  padding: 1rem;
}
.playTrailer:hover {
  color: #fc2121;
}
.playTrailer h1 {
  font-size: 20px;
}
.playTrailer img {
  height: 50px;
  width: 50px;
}

.boxAnimes {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.boxAnimes .animeList {
  height: 8rem;
  border-radius: 10px;
  cursor: pointer;
  filter: blur(2px);
  transition: all 0.5s;
}
.boxAnimes .active {
  box-shadow: 0px 0px 5px 3px #ad1d1d;
  filter: contrast(1);
  filter: blur(0px);
  transition: all 0.5s;
}

@media (max-width: 1350px) {
  body {
    background-position: center;
  }
  .playTrailer {
    gap: 3px;
    left: 12%;
  }
  .playTrailer h1 {
    font-size: 17px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 55%;
    padding: 1rem;
    transition: all 0.5s;
    position: absolute;
    top: 45%;
    left: 29%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 18px;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 50%;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
  }
}
@media (max-width: 850px) {
  body {
    background-position: center;
  }
  .playTrailer {
    gap: 0px;
    left: 15%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 16px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 70%;
    padding: 1rem;
    transition: all 0.5s;
    position: absolute;
    top: 60%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 19px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
    width: 8rem;
  }
}
@media (max-width: 630px) {
  body {
    background-position: center;
  }
  .playTrailer {
    top: 5%;
    left: 21%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 18px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 90%;
    padding: 1rem;
    transition: all 0.5s;
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 17px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
    width: 8.5rem;
  }
}
@media (max-width: 400px) {
  body {
    background-position: center;
    background-repeat: repeat-y;
  }
  .playTrailer {
    top: 6%;
    left: 30%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 14px;
  }
  .playTrailer img {
    height: 25px;
    width: 25px;
  }
  .main {
    width: 100%;
    padding: 1rem;
    transition: all 0.5s;
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 900;
  }
  .main p {
    font-size: 13px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 110%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 4.5rem;
    width: 5.5rem;
  }
}/*# sourceMappingURL=style.css.map */