@media (max-width: 1350px) {
  body {
    background-position: center;
    height: 100vh;
  }
  .playTrailer {
    gap: 3px;
    left: 12%;
  }
  .playTrailer h1 {
    font-size: 17px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 55%;
    padding: 1rem;
    transition: all 0.5s;
    top: 45%;
    left: 29%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 18px;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 50%;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
  }
}
@media (max-width: 850px) {
  body {
    background-position: center;
    height: 100vh;
  }
  .playTrailer {
    gap: 0px;
    left: 15%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 16px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 70%;
    padding: 1rem;
    transition: all 0.5s;
    top: 60%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 19px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
    width: 8rem;
  }
}
@media (max-width: 630px) {
  body {
    background-position: center;
    height: 100vh;
  }
  .playTrailer {
    top: 5%;
    left: 21%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 18px;
  }
  .playTrailer img {
    height: 40px;
    width: 40px;
  }
  .main {
    width: 90%;
    padding: 1rem;
    transition: all 0.5s;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1.4rem;
    font-size: 40px;
    font-weight: 900;
  }
  .main p {
    font-size: 17px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
  }
  .main .main-btn .btnAcessar {
    font-size: 13px;
    height: 3rem;
    width: 7rem;
    padding: 10px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 15px;
    width: 15px;
  }
  .main .main-btn .btnAddList {
    height: 3rem;
    width: 9rem;
    font-size: 13px;
    padding: 10px;
  }
  .boxAnimes {
    top: 90%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 7rem;
    width: 8.5rem;
  }
}
@media (max-width: 400px) {
  body {
    background-position: center;
    background-repeat: repeat-y;
    margin-bottom: 2rem;
    height: 100vh;
  }
  .playTrailer {
    top: 6%;
    left: 30%;
    gap: 2px;
  }
  .playTrailer h1 {
    font-size: 14px;
  }
  .playTrailer img {
    height: 25px;
    width: 25px;
  }
  .main {
    width: 100%;
    padding: 1rem;
    transition: all 0.5s;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .main h1 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 900;
  }
  .main p {
    font-size: 11px;
    text-shadow: 0px 0px 10px black;
  }
  .main .main-btn {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
  }
  .main .main-btn .btnAcessar {
    font-size: 10px;
    height: 2rem;
    width: 5rem;
    padding: 5px;
    gap: 5px;
  }
  .main .main-btn .btnAcessar img {
    height: 10px;
    width: 10px;
  }
  .main .main-btn .btnAddList {
    height: 2rem;
    width: 7rem;
    font-size: 10px;
    padding: 5px;
  }
  .boxAnimes {
    top: 90%;
    left: 50%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .boxAnimes .animeList {
    height: 4.5rem;
    width: 5.5rem;
  }
}/*# sourceMappingURL=respon.css.map */